# Gradle files
.gradle/
build/
app/build/
!gradle-wrapper.jar

# Local configuration file (sdk.dir is not valid for another machine)
local.properties

# Android Studio / IntelliJ
.idea/
.DS_Store
*.iml
*.iws
*.ipr
.idea/*
!/.idea/navEditor.xml

# Captures
captures/
.externalNativeBuild
.cxx/
*.apk
*.ap_
*.dex
*.class

# Logcat
logcat_*.txt

# Visual Studio Code
.vscode/
.history/
*.code-workspace
